{
  :classname "org.postgresql.Driver"
  :subprotocol "postgresql"
  :subname "//db:5432/test"
  :user "test"
  :password "test" 
  :flyway {
    :locations ["filesystem:/usr/src/app/resources/migrations" "filesystem:/usr/src/app/resources/test/fixtures"]
  }
}

